<!-- Start Footer Area -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <div class="logo">
                        <a routerLink="/">
                            <img src="assets/img/Logotipo-white.png" alt="image">
                        </a>
                        <p>Sistema de venta con control de inventario y facturación electrónica.</p>
                    </div>

                    <ul class="social">
                        <li><a href="#" target="_blank"><i class="flaticon-facebook-letter-logo"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-twitter"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-instagram-logo"></i></a></li>
                        <li><a href="#" target="_blank"><i class="flaticon-youtube-play-button"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Servicios</h3>

                    <ul class="footer-services-list">
                        <li><a href="#">Tienda virtual</a></li>
                        <li><a href="#">Facturación electrónica</a></li>
                        <li><a href="#">Control de inventario</a></li>
                        <li><a href="#">Punto de venta - POS</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Nosotros</h3>

                    <ul class="quick-links-list">
                        <li><a href="#">Inicio</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Precios</a></li>
                        <li><a href="#">Contacto</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-footer-widget">
                    <h3>Contacto</h3>

                    <ul class="footer-contact-list">
                        <li><span>Dirección:</span>Jr. Eleazar Guzmán y Barrón N° 2636, Lima</li>
                        <li><span>Correo:</span> <a href="#">ventas@ifact.pe</a></li>
                        <li><span>Celular:</span> <a href="#">912 314 448</a></li>
                        <li><span>Teléfono:</span> <a href="#">01 758 7846</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p>&copy; 2020 <a href="#">Ifact</a>. Todos los derechos reservados.</p>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <ul>
                        <li><a href="#">Políticas de privacidad</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="circle-map borde"><img src="assets/img/footer.png" alt="image"></div> -->
    <div class="circle-map"><img src="assets/img/circle-map.png" alt="image"></div>

    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</footer>
<!-- End Footer Area -->
<div class="go-top"><i class="fas fa-arrow-up"></i><i class="fas fa-arrow-up"></i></div>