<!-- Start Page Title Area -->
<div class="page-title-area item-bg3">
    <div class="container">
        <div class="page-title-content">
            <h2>Contacto</h2>
            <p>Interesado en ampliar información, coordinar una demostración.</p>
            <!-- <ul>
                <li><a routerLink="/">Home</a></li>
                <li>Contact</li>
            </ul> -->
        </div>
    </div>
    <div class="lines">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Contact Area -->
<section class="contact-area ptb-110">
    <div class="container">
        <!-- <div class="section-title">
            <span>¿Tienes dudas?</span>
            <h2>Escríbenos</h2>
            <p>Estás interesado en ampliar información, coordinar una demostración escríbenos, nos comunicaremos en
                breve.</p>
        </div> -->

        <div class="contact-form">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-12">
                    <div class="contact-image">
                        <img src="assets/img/contact.png" alt="image">
                    </div>
                </div>

                <div class="col-lg-7 col-md-12">
                    <form id="contactForm">
                        <div class="row">
                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control" required
                                        data-error="Please enter your name" placeholder="Nombre">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>



                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="text" name="phone_number" id="phone_number" required
                                        data-error="Please enter your number" class="form-control"
                                        placeholder="Celular">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-md-6">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control" required
                                        data-error="Please enter your email" placeholder="Correo">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <div class="form-group">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="5"
                                        required data-error="Write your message" placeholder="Mensaje"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12">
                                <button type="submit" class="btn btn-primary">Enviar</button>
                                <div id="msgSubmit" class="h3 text-center hidden"></div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="contact-info">
            <div class="contact-info-content">
                <h3>Llámanos</h3>
                <h2>
                    <a href="tel:912314448">912 314 448</a>
                    <span>O</span>
                    <a href="tel:017587846"> (01) 758 7846</a>
                    <span>O</span>
                    <a href="mailto:ventas@ifact.pe">ventas@ifact.pe</a>
                </h2> 

                <ul class="social">
                    <li><a href="https://twitter.com/ifactperu" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.youtube.com/channel/UCd0Hbb2XGwubhPssX-5dCvg" target="_blank"><i
                                class="fab fa-youtube"></i></a></li>
                    <li><a href="https://www.facebook.com/ifactperu" target="_blank"><i
                                class="fab fa-facebook-f"></i></a></li>
                    <li><a href="https://www.instagram.com/ifactperu/" target="_blank"><i
                                class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Area -->