<div class="tab pricing-tab">
    <ul class="tabs">
        <li><a href="#">
                Mensual
            </a></li>

        <li><a href="#">
                Anual
            </a></li>
    </ul>

    <!-- 
    <div class="tab-content">
        <div class="tabs-item">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box">
                        <div class="pricing-header">
                            <h3>BÁSICO</h3>
                        </div>

                        <div class="price">
                            S/ 94 <span> mes</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>
                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 200 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box active">
                        <div class="pricing-header">
                            <h3>STANDARD</h3>
                        </div>

                        <div class="price">
                            S/ 120 <span> mes</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>
                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 500 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="pricing-box">
                        <div class="pricing-header">
                            <h3>PRO</h3>
                        </div>

                        <div class="price">
                            S/ 200 <span> mes</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 1500 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-item">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box">
                        <div class="pricing-header">
                            <h3>BÁSICO</h3>
                            <p>Ahorro de S/ 188</p>
                        </div>

                        <div class="price">
                            S/ 940 <span> año</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 200 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="pricing-box active">
                        <div class="pricing-header">
                            <h3>Standard</h3>
                            <p>Ahorro de S/ 240</p>
                        </div>

                        <div class="price">
                            S/ 1200 <span> año</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 500 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="pricing-box">
                        <div class="pricing-header">
                            <h3>Pro</h3>
                            <p>Ahorro de S/ 400</p>
                        </div>

                        <div class="price">
                            S/ 2000 <span> año</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 1500 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> -->




    <div class="tab-content">
        <div class="tabs-item">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <h3>BÁSICO</h3>
                            <!-- <p>Get your business up <br>and running</p> -->
                        </div>

                        <div class="price">
                            S/ 94 <span>mes</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 200 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="single-pricing-box active">
                        <div class="pricing-header">
                            <h3>STANDARD</h3>
                            <!-- <p>Get your business up <br>and running</p> -->
                        </div>

                        <div class="price">
                            S/ 120 <span> mes</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 500 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <h3>PRO</h3>
                            <!-- <p>Get your business up <br>and running</p> -->
                        </div>

                        <div class="price">
                            S/ 200 <span> mes</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 1500 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tabs-item">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <h3>BÁSICO</h3>
                            <p>Ahorro de S/ 188</p>
                        </div>

                        <div class="price">
                            S/ 940 <span> año</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Get Started Free</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 200 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-pricing-box active">
                        <div class="pricing-header">
                            <h3>STANDARD</h3>
                            <p>Ahorro de S/ 240</p>
                        </div>

                        <div class="price">
                            S/ 1200 <span> año</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Start 3 Days Free Trial</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 500 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-6 offset-lg-0 offset-md-3 offset-sm-3">
                    <div class="single-pricing-box">
                        <div class="pricing-header">
                            <h3>PRO</h3>
                            <p>Ahorro de S/ 400</p>
                        </div>

                        <div class="price">
                            S/ 2000 <span> año</span>
                        </div>

                        <div class="buy-btn">
                            <a href="#" class="btn btn-primary">Solicitar</a>
                        </div>

                        <ul class="pricing-features">
                            <li><i class='flaticon-tick'></i> Hasta 1500 comprobantes</li>
                            <li><i class='flaticon-tick'></i> Certificado digital incluido</li>
                            <li><i class='flaticon-tick'></i> Facturas, Boletas de venta, Notas de Crédito y
                                Débito</li>
                            <li><i class='flaticon-tick'></i> Personalización de logotipo y colores</li>
                            <li><i class='flaticon-tick'></i> Catálogo de productos y servicios</li>
                            <li><i class='flaticon-tick'></i> Reportes en Excel</li>
                            <li><i class='flaticon-tick'></i> Envíos por email</li>
                        </ul>
                    </div>
                </div>



            </div>
        </div>
    </div>

    <p class="text-center">Si deseas elaborar más facturas, escríbanos o llámenos <strong>912 314 448</strong> tenemos planes a medida.</p>
</div>